<div class="jumbotron">
  <%= image_tag 'GATS.jpg', :height=>"200", :width=>"200", :id=>"img" %>
  <br/>
  <%= link_to "SIGN UP NOW", "#", class: "btn btn-warning btn-lg" %>
  <marquee>
    <p>Alpha Blog is my first project build with Ruby on Rails.</p>
  </marquee>
</div>
