<div class="jumbotron">
  <%= image_tag 'GATS.jpg', :height=>"200", :width=>"200", :id=>"img" %>
  <h1>Welcome!</h1>
  <p>Alpha Blog is my first web project built with Rails.<p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a></p>
</div>
