/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background-color: orange;
  box-sizing: border-box;
  font-family: courier;
  padding: 0;
  margin: 0;
}
.ul{
  background-color: white;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.li {
  float: left;
}
.li a{
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  color: orange;
}
.li a:hover{
  background-color: orange;
  color: white;
}
#img{
  border-radius: 100px;
}
#msg{
  color: red;
}
