$navbar-default-bg: lightyellow;
$jumbotron-bg: lightyellow;
$table-bg: lightyellow;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.75em;
  color: orange;
}
li:hover{
  text-decoration: underline;
}
th{
  text-align:center;
}
.jumbotron{
  background-image: asset-url('Psychedelic.jpg');
  background-size: cover;
  height: 380px;
}
hr{
  border: 1px solid lightyellow;  
}
.signup{
  margin-top: 30px;
}
h2.panel-title{
  margin: 10px;
}
div.panel{
  background-color: #f2dede;
  color: #a94442;
}
.description{
  margin-top: 0;
}
