$navbar-default-bg: lightyellow;
$jumbotron-bg: lightyellow;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.75em;
  color: orange;
}
li:hover{
  text-decoration: underline;
}
th{
  text-align:center;
}
.jumbotron{
  background-image: url('Psychedelic 1.jpg');
  background-size: cover;
  height: 390px;
}
.jumbotron p{
  background-color: lightyellow;
  border-radius: 10px;
  margin-top: 10px;
}
hr{
  border: 1px solid lightyellow;  
}
