<div class="container">
  <footer class="footer">
    <hr width="80%">
    <p>Copyright &copy; 2018 <%= link_to "Alpha Blog", root_path %> | Created by <%= link_to "Kurniawan Pratama", "https://plus.google.com/u/0/115616607429854713303", :target=>"_blank" %></p>
  </footer>
</div>
