<div class="container">
  <footer class="footer">
    <hr width="80%">
    <p>Copyright &copy; 2018 <%= link_to "Alpha Blog", root_path %> | Created by <%= link_to "Kurniawan Pratama", "https://www.linkedin.com/in/kurniawanpputra/", target: "_blank" %></p>
  </footer>
</div>
